<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue-vue</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	
<div id="app">
	<h3>{{ name }}</h3>
	<h3>{{ greet('night') }}</h3>
	<a v-bind:href="website">Site link</a>	
	<!-- moze da se koristi i :href za binding umesto v-bind: -->
	<div><input type="text" v-bind:value="name"></div>
	<div v-html="www"></div>
	<div class="age">{{ age }}</div><button v-on:click.once="plus">+</button><button v-on:click="minus">-</button>
	<div class="age">{{ year }}</div><button v-on:dblclick="plus_dbl(5)">+5</button><button v-on:dblclick="minus_dbl(5)">-5</button>
	<div id="mouse" v-on:mousemove="updatexy">
		x: {{ x }}  y: {{ y }}

	</div>
	<a v-on:click.prevent="linkclick" href="http://google.com">Fake link</a>
	<div><input type="text" v-model="name1"></div>
	<p>{{ name1 }}</p>
	<div><input type="text" v-model="age1"></div>
	<p>{{ age1 }}</p>
	<h2>Dynamic css</h2>
	<!-- <div v-on:click="available = !available" v-bind:class="{available: available}">
		<span>Taxi</span>
	</div> -->
	<button v-on:click="nearby = !nearby">Toggle nearby</button>
	<button v-on:click="available = !available">Toggle available</button>
	<div v-bind:class="compClass">
		<span>Taxi Two</span>
	</div>
</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="app.js"></script>
</body>
</html>